@page "/"

<PageTitle>Index</PageTitle>

<h1>Projects</h1>
<hr/>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var project in Projects)
    {
        <div class="col">
            <div class="card rounded shadow-lg">
                 <div class="card-header">
                    <h5>@project.Value.Name</h5>
                    @if(!project.Value.IsArchived)
                    {
                        <span class="badge bg-success">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-info">Archived</span>
                    }
                </div>
                <div class="card-body">
                    <p><i>@project.Key</i></p>
                    <p>@project.Value.Description</p>
                    <button type="button" class="btn btn-dark">Show Tasks</button>
                </div>
            </div>
        </div>
    }
</div>

